#logo{
	display:inline-block;
	width:200px;
	height:52px;
	background:url('logo.png');
	background-size: 200px 52px;
}
.ui-radio{
	display:inline-block;
}
span.plusone{
	display:inline-block;
	width:20px;
	height:20px;
	background:url('plusone.png');
	background-size: 20px 20px;
	margin:2px;
}

span.bigplusone{
	display:inline-block;
	width:100px;
	height:100px;
	background:url('plusone.png');
	background-size: 100px 100px;
}